<a href="https://colab.research.google.com/github/mafux777/Alation_Article/blob/master/API_2022_3_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import requests
import json
import pandas as pd


# Prepare the REST API call parameters
host = "https://beta-sandbox.alationproserv.com"
headers = dict(token='dX-rczxboZgVv3jENalAuZFDCHPrUzDSngtQC3PPOlk')

In [40]:
title="Airport #10"

endpoint = f"/integration/v1/article/"
params = dict(title=title)
r = requests.get(host+endpoint, headers=headers, params=params).json()
df = pd.DataFrame(r)
df

,agile_approval_enabled,attachments,author,body,children,custom_fields,custom_templates,editors,has_children,id,private,title,ts_updated,ts_created,url
0,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>a changed desc</p>,[],[],"[{'id': 44, 'title': 'Airport (Art T)'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,39,False,Airport #10,2022-09-13T09:57:30.090637Z,2022-09-13T09:50:29.374164Z,/article/39/airport-10
1,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>A mysterious airport.</p>,[],[],"[{'id': 44, 'title': 'Airport (Art T)'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,18,False,Airport #10,2022-08-02T15:26:25.234185Z,2022-08-02T15:26:03.506243Z,/article/18/airport-10

# Failing API call because of title not unique

In [41]:
title="Airport #10"

endpoint = f"/api/v1/bulk_metadata/custom_fields/Airport%20(Art%20T)/article"
payload = {"key":title, "description": "a changed desc"}
params = dict(replace_values=True)
r = requests.post(host+endpoint, headers=headers, json=payload, params=params).json()
r

{'number_received': 1,
 'updated_objects': 0,
 'new_objects': 0,
 'error_objects': ['Line 0. Key: Airport #10. Multiple objects were found for this key'],
 'error': '1 errors were ignored'}

# Solution: API v2 can use article ID

In [42]:
endpoint = f"/api/v2/bulk_metadata/custom_fields/Airport%20(Art%20T)/article"
payload = {"article_id":39, "description": "a new desc"}
params = dict(replace_values=True, create_new=False)
r = requests.post(host+endpoint, headers=headers, json=payload, params=params).json()
r

{'number_received': 1,
 'updated_objects': 0,
 'new_objects': 0,
 'error_objects': [],
 'error': '',
 'created_articles': {},
 'custom_fields_updated': {}}

# Get a Term by ID

In [43]:
endpoint = f"/integration/v2/term/"
params = dict(id=91526)
r = requests.get(host+endpoint, headers=headers, params=params).json()
df = pd.DataFrame(r)
df

,id,deleted,ts_deleted,is_public,ts_created,ts_updated,otype,title,description
0,91526,False,None,True,2022-09-12T16:29:54.490670Z,2022-09-12T16:29:54.490694Z,glossary_term,Apple,<p>Apples are not pears.</p>

Feature request:

*   Custom fields
*   Template ID
* Glossary IDs

# Get all Terms

In [22]:
endpoint = f"/integration/v2/term/"
params = dict()
next = endpoint
my_list = []
while(next):
  print(next)
  r = requests.get(host+next, headers=headers, params=params)
  my_list.extend(json.loads(r.text))
  next = r.headers.get('X-Next-Page')
  my_len = len(my_list)
  print(f"List now has {my_len} items")
  if my_len >= 500:
    break

/integration/v2/term/
List now has 100 items
/integration/v2/term/?skip=100
List now has 200 items
/integration/v2/term/?skip=200
List now has 300 items
/integration/v2/term/?skip=300
List now has 400 items
/integration/v2/term/?skip=400
List now has 500 items

Feature request:

* Filters

In [23]:
pd.DataFrame(my_list)

,id,deleted,ts_deleted,is_public,ts_created,ts_updated,otype,title,description
0,28147,False,None,True,2022-08-03T14:22:32.555097Z,2022-08-03T14:22:32.557179Z,glossary_term,1000 Museum Heliport,<table><tbody><tr><td> ident </td><td> US-1285...
1,28148,False,None,True,2022-08-03T14:22:32.655091Z,2022-08-03T14:22:32.657596Z,glossary_term,Los Angeles Airport,<table><tbody><tr><td>ident</td><td>MX-0487</t...
2,28149,False,None,True,2022-08-03T14:22:32.775719Z,2022-08-03T14:22:32.777675Z,glossary_term,London Luton Airport,<table> <tbody> <tr> <td> ident </td> ...
3,28150,False,None,True,2022-08-03T14:22:32.868934Z,2022-08-03T14:22:32.870992Z,glossary_term,4M Ranch Airfield,<table><tbody><tr><td> ident </td><td> 48TE </...
4,28151,False,None,True,2022-08-03T14:22:32.967440Z,2022-08-03T14:22:32.969407Z,glossary_term,St. John's International Airport,<table><tbody><tr><td> ident </td><td> CYYT </...
...,...,...,...,...,...,...,...,...,...
495,28642,False,None,True,2022-08-03T14:23:29.085411Z,2022-08-03T14:23:29.087309Z,glossary_term,Wyckoff Airstrip,<table><tbody><tr><td> ident </td><td> 5IN4 </...
496,28643,False,None,True,2022-08-03T14:23:29.179540Z,2022-08-03T14:23:29.181428Z,glossary_term,Berkey Field,<table><tbody><tr><td> ident </td><td> 5IN5 </...
497,28644,False,None,True,2022-08-03T14:23:29.270655Z,2022-08-03T14:23:29.272812Z,glossary_term,Clear Lake Seaplane Base,<table><tbody><tr><td> ident </td><td> 5IN7 </...
498,28645,False,None,True,2022-08-03T14:23:29.394341Z,2022-08-03T14:23:29.396287Z,glossary_term,Crooked Lake Seaplane Base,<table><tbody><tr><td> ident </td><td> 5IN8 </...
499,28646,False,None,True,2022-08-03T14:23:29.493898Z,2022-08-03T14:23:29.495724Z,glossary_term,Stangland Airport,<table><tbody><tr><td> ident </td><td> 5IN9 </...

# Delete a Term (one or more)

In [30]:
endpoint = f"/integration/v2/term/"
payload = dict(id=[28146, ])
r = requests.delete(host+endpoint, headers=headers, json=payload).json()
r

{'deleted_term_ids': [28146], 'deleted_term_count': 1}

# Get Details about Templates

You can get the template ID by picking the template with layout otype=96

In [31]:
endpoint = f"/integration/v1/custom_template/"
params = dict(title="Fruit")
r = requests.get(host+endpoint, headers=headers, params=params).json()
df = pd.DataFrame(r)
df

,builtin_name,fields,id,layout_otype,title,visual_config_id
0,None,"[{'id': 5, 'field_type': 'PICKER', 'tooltip_te...",46,0,Fruit,NaN
1,None,"[{'id': 5, 'field_type': 'PICKER', 'tooltip_te...",47,96,Fruit,13.0

# Get Details about Fields

In [38]:
endpoint = f"/integration/v2/custom_field/"
r = requests.get(host+endpoint, headers=headers).json()

df = pd.DataFrame(r)
df

,allow_multiple,allowed_otypes,backref_name,backref_tooltip_text,builtin_name,field_type,id,name_plural,name_singular,options,tooltip_text
0,False,None,None,None,title,TEXT,3,,Title,None,None
1,False,None,None,None,description,RICH_TEXT,4,,Description,None,None
2,False,None,None,None,business_glossary_status,PICKER,5,,Status,"[New, In Progress, Under Review, Approved, Obs...",Status of the business glossary term
3,True,"[groupprofile, user]",Expert in,None,None,OBJECT_SET,6,Experts,Expert,None,None
4,False,"[groupprofile, user]",None,None,None,OBJECT_SET,7,People interested in,Interested person,None,None
5,True,"[groupprofile, user]",Steward,None,steward,OBJECT_SET,8,Stewards,Steward,None,None
6,False,"[groupprofile, user]",None,None,None,OBJECT_SET,9,People working on,Person working on,None,None
7,False,None,None,None,None,PICKER,10006,,ALATION_TAG_TEST,"[testing456, testing123]",citibike.public.alation_tag_test
8,False,None,None,None,None,PICKER,10007,,SENSITIVITY,"[Open Use, Restricted]",citibike.public.sensitivity
9,False,None,backref,None,None,RICH_TEXT,10008,BI Hidden Links,BI Hidden Links,None,None
10,False,None,backref,None,None,MULTI_PICKER,10009,Features (R),Features (R),"[Broken Links, External Links, Asynchronous, E...",None
11,False,None,backref,None,None,MULTI_PICKER,10010,Output Format (R),Output Format (R),"[CSV-UTF8, XLSX]",None
12,False,None,backref,None,None,DATE,10011,Start Date (R),Start Date (R),None,None
13,False,None,backref,None,None,DATE,10012,End Date (R),End Date (R),None,None
14,False,None,backref,None,None,MULTI_PICKER,10013,Desired Template (R),Desired Template (R),"[Airport, Airport (Art T), BI Column Definitio...",None
15,False,None,backref,None,None,RICH_TEXT,10014,4 - Log,4 - Log,None,None
16,False,None,backref,None,None,RICH_TEXT,10015,1 - Download Instructions,1 - Download Instructions,None,None
17,False,None,backref,None,None,RICH_TEXT,10016,2 - Upload Instructions,2 - Upload Instructions,None,None
18,False,None,backref,None,None,RICH_TEXT,10017,3 - Admin Instructions,3 - Admin Instructions,None,None
19,False,None,backref,None,None,MULTI_PICKER,10018,Saved Searches (9),Saved Searches (9),"[AA V2, 800 tables or so, schema: crypto, Terms]",None
20,False,None,None,None,None,PICKER,10019,,Airport Type,"[balloonport, large_airport, small_airport, me...",None
21,False,None,None,None,None,PICKER,10020,,Airport Continent,"[EU, AN, AS, OC, SA]",None
22,True,[glossary_term],Related to Airport(s),None,None,OBJECT_SET,10021,Related Airports,Related Airport,None,None
23,True,"[attribute, table]",Related Objects,Related Object,None,OBJECT_SET,10022,Related Objects,Related Object,None,Related Objects

# Prepare Migration from Article to Term

Let's get all articles (here: less than 100)

In [45]:
endpoint = f"/integration/v1/article/"
r = requests.get(host+endpoint, headers=headers).json()
df = pd.DataFrame(r)
df

,agile_approval_enabled,attachments,author,body,children,custom_fields,custom_templates,editors,has_children,id,private,title,ts_updated,ts_created,url
0,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<table>\n <tbody>\n <tr>\n <td>\n ident\...,[],"[{'field_name': 'Airport Continent', 'value_ty...","[{'id': 44, 'title': 'Airport (Art T)'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,13,False,Cork Airport,2022-08-02T15:01:34.831979Z,2022-08-02T14:58:55.644467Z,/article/13/cork-airport
1,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Some people claim strawberries are not frui...,[],[],"[{'id': 46, 'title': 'Fruit'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,19,False,Strawberry,2022-08-02T15:40:49.975532Z,2022-08-02T15:40:19.697766Z,/article/19/strawberry
2,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Used to be a mobile device company. Now a s...,[],[],"[{'id': 46, 'title': 'Fruit'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,38,False,Blackberry,2022-09-12T18:06:25.127341Z,2022-09-12T18:06:00.591457Z,/article/38/blackberry
3,False,[],"{'id': 1, 'url': '/user/1/', 'email': 'ps_admi...",<div>\n <p>\n Alation Analytics contains a\n ...,[],[],"[{'id': 39, 'title': 'Alation Analytics'}]","[{'id': 1, 'url': '/user/1/', 'email': 'ps_adm...",False,1,False,Determining Popularity Using Alation Analytics,2022-06-16T20:57:32.127003Z,2022-06-15T15:34:12.638478Z,/article/1/determining-popularity-using-alatio...
4,False,[],"{'id': 1, 'url': '/user/1/', 'email': 'ps_admi...",<div>\n <p>\n The Alation Analytics schema ha...,"[{'id': 3, 'otype': 'article', 'title': 'Alati...",[],"[{'id': 39, 'title': 'Alation Analytics'}]","[{'id': 1, 'url': '/user/1/', 'email': 'ps_adm...",True,2,False,Introduction to Alation Analytics,2022-06-16T20:57:34.574594Z,2022-06-15T15:34:12.837582Z,/article/2/introduction-to-alation-analytics
5,False,[],"{'id': 1, 'url': '/user/1/', 'email': 'ps_admi...",<div>\n <p>\n The below diagram shows the ove...,[],[],"[{'id': 39, 'title': 'Alation Analytics'}]","[{'id': 1, 'url': '/user/1/', 'email': 'ps_adm...",False,3,False,Alation Analytics ERD,2022-06-16T20:57:34.891797Z,2022-06-15T15:34:13.042478Z,/article/3/alation-analytics-erd
6,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>NOWHERE is a nice destination!</p>,[],[],[],"[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,25,False,An Imaginary Airport,2022-09-06T09:18:57.201567Z,2022-09-06T09:18:57.186642Z,/article/25/an-imaginary-airport
7,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>a new desc</p>,[],[],"[{'id': 44, 'title': 'Airport (Art T)'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,39,False,Airport #10,2022-09-13T12:16:58.264176Z,2022-09-13T09:50:29.374164Z,/article/39/airport-10
8,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>article without template</p>,[],[],[],"[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,6,False,article without template,2022-08-01T13:01:38.563883Z,2022-08-01T13:01:22.733439Z,/article/6/article-without-template
9,False,"[{'id': 1, 'otype': 'doc', 'title': '_DTV_ruco...","{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<div><p>some body</p><p><br></p></div>,[],[],"[{'id': 41, 'title': 'BI Column Definition'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,5,False,Test Article,2022-07-31T10:55:27.042552Z,2022-07-31T10:55:04.211782Z,/article/5/test-article
10,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>NOWHERE is a nice destination!</p>,[],[],[],"[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,26,False,An Imaginary Airport 2,2022-09-06T09:20:00.765796Z,2022-09-06T09:20:00.743516Z,/article/26/an-imaginary-airport-2
11,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<table>\n <tbody>\n <tr>\n <td>\n ident\...,[],[],[],"[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,10,False,Norwich International Airport,2022-08-02T15:29:10.118248Z,2022-08-02T14:58:55.391339Z,/article/10/norwich-international-airport
12,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<table>\n <tbody>\n <tr>\n <td>\n ident\...,[],[],[],"[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,11,False,London Stansted Airport,2022-08-02T15:29:24.407996Z,2022-08-02T14:58:55.470709Z,/article/11/london-stansted-airport
13,False,"[{'id': 29, 'otype': 'doc', 'title': 'ratatoui...","{'id': 13, 'url': '/user/13/', 'email': 'elke....",<pre>*** This is a Professional Service Add-On...,[],"[{'field_name': '1 - Download Instructions', '...","[{'id': 43, 'title': 'ratatouille (13)'}]","[{'id': 13, 'url': '/user/13/', 'email': 'elke...",False,8,True,Ratatouille V2.3.2,2022-08-03T10:43:30.307073Z,2022-08-02T14:19:24.657258Z,/article/8/ratatouille-v232
14,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Some article\n</p>,[],[],"[{'id': 48, 'title': 'Demo'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,22,False,Article #1,2022-08-05T16:26:50.578160Z,2022-08-05T16:06:18.114390Z,/article/22/article-1
15,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Another article\n</p>,[],[],"[{'id': 48, 'title': 'Demo'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,23,False,Article #2,2022-08-05T16:26:50.776093Z,2022-08-05T16:06:18.195230Z,/article/23/article-2
16,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Some term.\n</p>,[],[],"[{'id': 48, 'title': 'Demo'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,24,False,Article #3,2022-08-05T16:26:50.977932Z,2022-08-05T16:06:18.262010Z,/article/24/article-3
17,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<table>\n <tbody>\n <tr>\n <td>\n ident\...,[],"[{'field_name': 'Airport Continent', 'value_ty...","[{'id': 44, 'title': 'Airport (Art T)'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,12,False,Exeter International Airport,2022-08-02T15:01:34.402281Z,2022-08-02T14:58:55.562104Z,/article/12/exeter-international-airport
18,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<table>\n <tbody>\n <tr>\n <td>\n ident\...,[],"[{'field_name': 'Airport Continent', 'value_ty...","[{'id': 44, 'title': 'Airport (Art T)'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,14,False,Copenhagen Kastrup Airport,2022-08-02T15:01:35.231471Z,2022-08-02T14:58:55.726555Z,/article/14/copenhagen-kastrup-airport
19,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<table>\n <tbody>\n <tr>\n <td>\n ident\...,[],"[{'field_name': 'Airport Continent', 'value_ty...","[{'id': 44, 'title': 'Airport (Art T)'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,15,False,Oslo Gardermoen Airport,2022-08-02T15:01:35.717660Z,2022-08-02T14:58:55.804143Z,/article/15/oslo-gardermoen-airport
20,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>A mysterious airport.</p>,[],[],"[{'id': 44, 'title': 'Airport (Art T)'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,18,False,Airport #10,2022-08-02T15:26:25.234185Z,2022-08-02T15:26:03.506243Z,/article/18/airport-10
21,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<table>\n <tbody>\n <tr>\n <td>\n ident\...,[],"[{'field_name': 'Airport Continent', 'value_ty...","[{'id': 44, 'title': 'Airport (Art T)'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,16,False,Tromsö Airport,2022-08-02T15:01:36.183715Z,2022-08-02T14:58:55.876519Z,/article/16/Troms%C3%B6%20Airport
22,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>NOWHERE is a nice destination!</p>,[],"[{'field_name': 'Airport Continent', 'value_ty...","[{'id': 44, 'title': 'Airport (Art T)'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,27,False,An Imaginary Airport 3,2022-09-06T09:31:05.273895Z,2022-09-06T09:22:34.747213Z,/article/27/an-imaginary-airport-3
23,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<table>\n <tbody>\n <tr>\n <td>\n ident\...,[],"[{'field_name': 'Airport Continent', 'value_ty...","[{'id': 44, 'title': 'Airport (Art T)'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,17,False,Trondheim Airport Värnes,2022-08-02T15:01:36.479858Z,2022-08-02T14:58:55.946529Z,/article/17/Trondheim%20Airport%20V%C3%A4rnes
24,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<table>\n <tbody>\n <tr>\n <td>\n ident\...,[],[],[],"[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,9,False,Glasgow International Airport,2022-08-02T15:28:16.309254Z,2022-08-02T14:58:55.284246Z,/article/9/glasgow-international-airport
25,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Some body</p>,[],"[{'field_name': '4 - Log', 'value_type': 'rich...","[{'id': 49, 'title': 'Leisure'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,28,False,Amazing Demo 0,2022-09-06T09:38:02.735645Z,2022-09-06T09:35:48.144245Z,/article/28/amazing-demo-0
26,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Some body</p>,[],"[{'field_name': '4 - Log', 'value_type': 'rich...","[{'id': 49, 'title': 'Leisure'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,29,False,Amazing Demo 1,2022-09-06T09:38:02.954736Z,2022-09-06T09:35:48.369062Z,/article/29/amazing-demo-1
27,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Some body</p>,[],"[{'field_name': '4 - Log', 'value_type': 'rich...","[{'id': 49, 'title': 'Leisure'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,30,False,Amazing Demo 2,2022-09-06T09:38:03.202260Z,2022-09-06T09:35:48.602613Z,/article/30/amazing-demo-2
28,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Some body</p>,[],"[{'field_name': '4 - Log', 'value_type': 'rich...","[{'id': 49, 'title': 'Leisure'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,31,False,Amazing Demo 3,2022-09-06T09:38:03.504607Z,2022-09-06T09:35:48.922517Z,/article/31/amazing-demo-3
29,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Some body</p>,[],"[{'field_name': '4 - Log', 'value_type': 'rich...","[{'id': 49, 'title': 'Leisure'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,32,False,Amazing Demo 4,2022-09-06T09:38:03.980554Z,2022-09-06T09:35:49.491879Z,/article/32/amazing-demo-4
30,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Some body</p>,[],"[{'field_name': '4 - Log', 'value_type': 'rich...","[{'id': 49, 'title': 'Leisure'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,33,False,Amazing Demo 5,2022-09-06T09:38:04.259992Z,2022-09-06T09:35:49.842927Z,/article/33/amazing-demo-5
31,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Some body</p>,[],"[{'field_name': '4 - Log', 'value_type': 'rich...","[{'id': 49, 'title': 'Leisure'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,34,False,Amazing Demo 6,2022-09-06T09:38:04.543522Z,2022-09-06T09:35:50.190309Z,/article/34/amazing-demo-6
32,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Some body</p>,[],"[{'field_name': '4 - Log', 'value_type': 'rich...","[{'id': 49, 'title': 'Leisure'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,35,False,Amazing Demo 7,2022-09-06T09:38:04.868955Z,2022-09-06T09:35:50.519986Z,/article/35/amazing-demo-7
33,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Some body</p>,[],"[{'field_name': '4 - Log', 'value_type': 'rich...","[{'id': 49, 'title': 'Leisure'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,36,False,Amazing Demo 8,2022-09-06T09:38:05.382383Z,2022-09-06T09:35:50.876054Z,/article/36/amazing-demo-8
34,False,[],"{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<p>Some body</p>,[],"[{'field_name': '4 - Log', 'value_type': 'rich...","[{'id': 49, 'title': 'Leisure'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,37,False,Amazing Demo 9,2022-09-06T09:38:06.074142Z,2022-09-06T09:35:51.322449Z,/article/37/amazing-demo-9
35,False,"[{'id': 47, 'otype': 'doc', 'title': 'matthias...","{'id': 9, 'url': '/user/9/', 'email': 'matthia...",<pre>*** This is a Professional Service Add-On...,[],"[{'field_name': '1 - Download Instructions', '...","[{'id': 40, 'title': 'ratatouille (9)'}]","[{'id': 9, 'url': '/user/9/', 'email': 'matthi...",False,21,True,Ratatouille V2.3.4,2022-08-05T18:58:55.806805Z,2022-08-05T15:53:37.692958Z,/article/21/ratatouille-v234

Prepare a dataframe with terms to upload

In [46]:
terms = df.loc[:, ['title', 'body', 'custom_templates']]

terms['template_name'] = terms.custom_templates.apply(lambda t: t[0]['title'] if len(t) else '')
terms

,title,body,custom_templates,template_name
0,Cork Airport,<table>\n <tbody>\n <tr>\n <td>\n ident\...,"[{'id': 44, 'title': 'Airport (Art T)'}]",Airport (Art T)
1,Strawberry,<p>Some people claim strawberries are not frui...,"[{'id': 46, 'title': 'Fruit'}]",Fruit
2,Blackberry,<p>Used to be a mobile device company. Now a s...,"[{'id': 46, 'title': 'Fruit'}]",Fruit
3,Determining Popularity Using Alation Analytics,<div>\n <p>\n Alation Analytics contains a\n ...,"[{'id': 39, 'title': 'Alation Analytics'}]",Alation Analytics
4,Introduction to Alation Analytics,<div>\n <p>\n The Alation Analytics schema ha...,"[{'id': 39, 'title': 'Alation Analytics'}]",Alation Analytics
5,Alation Analytics ERD,<div>\n <p>\n The below diagram shows the ove...,"[{'id': 39, 'title': 'Alation Analytics'}]",Alation Analytics
6,An Imaginary Airport,<p>NOWHERE is a nice destination!</p>,[],
7,Airport #10,<p>a new desc</p>,"[{'id': 44, 'title': 'Airport (Art T)'}]",Airport (Art T)
8,article without template,<p>article without template</p>,[],
9,Test Article,<div><p>some body</p><p><br></p></div>,"[{'id': 41, 'title': 'BI Column Definition'}]",BI Column Definition
10,An Imaginary Airport 2,<p>NOWHERE is a nice destination!</p>,[],
11,Norwich International Airport,<table>\n <tbody>\n <tr>\n <td>\n ident\...,[],
12,London Stansted Airport,<table>\n <tbody>\n <tr>\n <td>\n ident\...,[],
13,Ratatouille V2.3.2,<pre>*** This is a Professional Service Add-On...,"[{'id': 43, 'title': 'ratatouille (13)'}]",ratatouille (13)
14,Article #1,<p>Some article\n</p>,"[{'id': 48, 'title': 'Demo'}]",Demo
15,Article #2,<p>Another article\n</p>,"[{'id': 48, 'title': 'Demo'}]",Demo
16,Article #3,<p>Some term.\n</p>,"[{'id': 48, 'title': 'Demo'}]",Demo
17,Exeter International Airport,<table>\n <tbody>\n <tr>\n <td>\n ident\...,"[{'id': 44, 'title': 'Airport (Art T)'}]",Airport (Art T)
18,Copenhagen Kastrup Airport,<table>\n <tbody>\n <tr>\n <td>\n ident\...,"[{'id': 44, 'title': 'Airport (Art T)'}]",Airport (Art T)
19,Oslo Gardermoen Airport,<table>\n <tbody>\n <tr>\n <td>\n ident\...,"[{'id': 44, 'title': 'Airport (Art T)'}]",Airport (Art T)
20,Airport #10,<p>A mysterious airport.</p>,"[{'id': 44, 'title': 'Airport (Art T)'}]",Airport (Art T)
21,Tromsö Airport,<table>\n <tbody>\n <tr>\n <td>\n ident\...,"[{'id': 44, 'title': 'Airport (Art T)'}]",Airport (Art T)
22,An Imaginary Airport 3,<p>NOWHERE is a nice destination!</p>,"[{'id': 44, 'title': 'Airport (Art T)'}]",Airport (Art T)
23,Trondheim Airport Värnes,<table>\n <tbody>\n <tr>\n <td>\n ident\...,"[{'id': 44, 'title': 'Airport (Art T)'}]",Airport (Art T)
24,Glasgow International Airport,<table>\n <tbody>\n <tr>\n <td>\n ident\...,[],
25,Amazing Demo 0,<p>Some body</p>,"[{'id': 49, 'title': 'Leisure'}]",Leisure
26,Amazing Demo 1,<p>Some body</p>,"[{'id': 49, 'title': 'Leisure'}]",Leisure
27,Amazing Demo 2,<p>Some body</p>,"[{'id': 49, 'title': 'Leisure'}]",Leisure
28,Amazing Demo 3,<p>Some body</p>,"[{'id': 49, 'title': 'Leisure'}]",Leisure
29,Amazing Demo 4,<p>Some body</p>,"[{'id': 49, 'title': 'Leisure'}]",Leisure
30,Amazing Demo 5,<p>Some body</p>,"[{'id': 49, 'title': 'Leisure'}]",Leisure
31,Amazing Demo 6,<p>Some body</p>,"[{'id': 49, 'title': 'Leisure'}]",Leisure
32,Amazing Demo 7,<p>Some body</p>,"[{'id': 49, 'title': 'Leisure'}]",Leisure
33,Amazing Demo 8,<p>Some body</p>,"[{'id': 49, 'title': 'Leisure'}]",Leisure
34,Amazing Demo 9,<p>Some body</p>,"[{'id': 49, 'title': 'Leisure'}]",Leisure
35,Ratatouille V2.3.4,<pre>*** This is a Professional Service Add-On...,"[{'id': 40, 'title': 'ratatouille (9)'}]",ratatouille (9)

In [47]:
my_mapping = {
    "Fruit": {"template": 47, "glossary": 3},
    
}

my_list = []

for k, v in my_mapping.items():
  my_df = terms.loc[terms.template_name==k]
  for t in my_df.itertuples():
    my_list.append(dict(
        title = t.title,
        description = t.body,
        template_id = v['template'],
        glossary_ids = [v['glossary']]
    ))

my_list

[{'title': 'Strawberry',
  'description': "<p>Some people claim strawberries are not fruit. They are nuts. That's nuts.</p>",
  'template_id': 47,
  'glossary_ids': [3]},
 {'title': 'Blackberry',
  'description': '<p>Used to be a mobile device company. Now a software company.</p>',
  'template_id': 47,
  'glossary_ids': [3]}]

# Post the Terms

Beware, there is no protection from creating duplicates at all.

In [36]:
endpoint = f"/integration/v2/term/"
r = requests.post(host+endpoint, headers=headers, json=my_list).json()
r

{'job_id': 612}

In [10]:
# api = f"/api/v1/bulk_metadata/job/?id={r.get('job_id')}"
api = f"/api/v1/bulk_metadata/job/?id={612}"
status = requests.get(host+api, headers=headers).json()
status

{'status': 'successful',
 'msg': 'Job finished in 0.259084 seconds at 2022-09-12 18:07:43.004497+00:00',
 'result': {'created_term_count': 1,
  'created_terms': [{'id': 91529, 'title': 'Blackberry'}]}}

# Change logical metadata on a term

In [48]:
endpoint = f"/integration/v2/custom_field_value/"
payload=[
     {
          "field_id": 10019,
          "otype": "glossary_term",
          "oid": 40150,
          "value": "small_airport"
     }
]

r = requests.put(host+endpoint, headers=headers, json=payload).json()
r

{'updated_field_values': 1, 'new_field_values': 0, 'field_values_received': 1}

# Create a data quality rule

In [3]:
import requests

url = "https://beta-sandbox.alationproserv.com/integration/v1/data_quality/"

payload = {
    "fields": [
        {
            "field_key": "abc123",
            "name": "Start date must be in 2020",
            "type": "NUMERIC",
            "description": "The demo data set should at least contain 2020 data"
        }
    ],
    "values": [
        {
            "field_key": "abc123",
            "object_key": "11.big-query-lab-331019.CITIBIKE.TRIPDATA.started_at",
            "object_type": "ATTRIBUTE",
            "status": "WARNING",
            "value": False
        }
    ]
}
headers = {
    "Accept": "application/json",
    "Content-Type": "application/json",
    "TOKEN": "c5aFMfr8bgC-CTCce1sIjpoL18LWFCiMN_zQQfjS2DE"
}

response = requests.post(url, json=payload, headers=headers)

print(response.text)

{"job_id":618,"href":"/api/v1/bulk_metadata/job/?id=618"}

In [6]:
host = "https://beta-sandbox.alationproserv.com"
headers = dict(token="c5aFMfr8bgC-CTCce1sIjpoL18LWFCiMN_zQQfjS2DE")

status = requests.get(host+response.json().get("href"), headers=headers).json()
status

{'status': 'successful',
 'msg': 'Job finished in 0.1639 seconds at 2022-09-13 08:05:27.557716+00:00',
 'result': {'fields': {'created': {'count': 0, 'sample': []},
   'updated': {'count': 1, 'sample': [{'field_key': 'abc123'}]}},
  'values': {'created': {'count': 0, 'sample': []},
   'updated': {'count': 1,
    'sample': [{'field_key': 'abc123',
      'object_key': '11.big-query-lab-331019.citibike.tripdata.started_at'}]}},
  'created_object_attribution': {'success_count': 0,
   'failure_count': 0,
   'success_sample': [],
   'failure_sample': []},
  'flag_counts': {'GOOD': 0, 'WARNING': 1, 'ALERT': 0}}}