<a href="https://colab.research.google.com/github/mafux777/Alation_Article/blob/master/Alation_API_Training_June_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Alation API Training Worksheet

We need to import just a small number of libraries to create an Alation Instance. You can use this Class to test against any official or unofficial API.

In [0]:
import pandas as pd
import os
import requests

import time
import json

import pprint
pp = pprint.PrettyPrinter(indent=4)

The class AlationInstance is created with a URL, username and password.

In [0]:
import urllib

# The AlationInstance class is a handle to an Alation server defined by a URL
# A server admin user name and password needs to be provided and all API actions
# will be run as that user
class AlationInstance():
    # The __init__ method is the constructor used for instantiating
    # email: the up to 30 chars user name, often the email, but for long emails could be cut off
    # password: could be the LDAP password, as well
    # verify: Requests verifies SSL certificates for HTTPS requests, just like a web browser.
    # By default, SSL verification is enabled, and Requests will throw a SSLError if itâ€™s unable to verify the certificate
    def __init__(self, host, account, password, verify=True):
        self.host = host
        self.verify = verify
        self.account = account
        self.password = password
        self.token = self.get_token()
        self.headers = self.login(account, password)

    # The login method is used to obtain a session ID and relevant cookies
    # They are cached in the headers variable
    # account: the up to 30 chars user name, often the email, but for long emails could be cut off
    # password: could be the LDAP password, as well
    def login(self, account, password):
        URL = self.host + '/login/'

        s = requests.Session()
        s.get(URL, verify=self.verify)

        # get the cookie token
        csrftoken = s.cookies.get('csrftoken')

        # login with user name and password (and token)
        payload = {"csrfmiddlewaretoken": csrftoken, "ldap_user": account, "password": password}
        headers = {"Referer": URL}
        log_me("Logging in to {}".format(URL))
        r = s.post(URL, data=payload, verify=self.verify, headers=headers)

        # get the session ID and store it for all future API calls
        sessionid = s.cookies.get('sessionid')
        if not sessionid:
            log_me('No session ID, probably wrong user name / password')
        headers = {"X-CSRFToken": csrftoken,
                   "Cookie": f"csrftoken={csrftoken}; sessionid={sessionid}",
                   "Referer": URL
                   }

        return headers

    def get_token(self):
        change_token = "/api/v1/changeToken/"  # if you already have a token, use this url
        new_token = "/api/v1/getToken/"  # if you have never generated a token, use this url
        data = dict(username=self.account, password=self.password)
        response = requests.post(self.host + new_token, data=data)
        api_token = response.text
        if api_token == "EXISTING":
            response = requests.post(self.host + change_token, data=data)
            api_token = response.text
        return api_token

    # The generic_api_post method posts a request to Alation and if necessary checks the status
    def generic_api_post(self, api, params=None, body=None, official=False):
        if official:
            headers_final = dict(token=self.token)
        else:
            headers_final = self.headers
            headers_final['Referer'] = self.host + api
        r = requests.post(self.host + api, json=body, params=params, headers=headers_final)

        if r.status_code:
            r_parsed = r.json()
            # do we need to ask the job status API for help?
            if 'job_id' in r_parsed:
                params = dict(id=r_parsed['job_id'])
                url_job = "/api/v1/bulk_metadata/job/"
                # Let's wait for the job to finish
                while (True):
                    status = self.generic_api_get(api=url_job, params=params, official=True, verify=self.verify)
                    if status['status'] != 'running':
                        objects = status['result']
                        # if objects:
                        #     # for error in error_objects:
                        #     print(objects)
                        # else:
                        #     #print(status)
                        #     pass
                        break
                r_parsed = status
            return r_parsed
        else:
            return r.content

    # The generic_api_put method posts a request to Alation and if necessary checks the status
    def generic_api_put(self, api, params=None, body=None):
        r = requests.put(self.host + api, json=body, params=params, headers=self.headers, verify=self.verify)
        return r.content

    # The generic_api_patch method posts a request to Alation and if necessary checks the status
    def generic_api_patch(self, api, params=None, body=None):
        r = requests.patch(self.host + api, json=body, params=params, headers=self.headers, verify=self.verify)
        return r.content

    # The generic_api_get implements a REST get, with API token if official or Cookie if not.
    # If the callers sends header, it needs to contain API or cookie
    def generic_api_get(self, api, headers=None, params=None, official=False):
        if headers:
            # caller has supplied the headers
            headers_final = headers
        else:
            if official:
                headers_final = dict(token=self.token)
            else:
                headers_final = self.headers
                headers_final['Referer'] = self.host + api
        r = requests.get(self.host + api, headers=headers_final, params=params, verify=self.verify)
        if r.status_code in [200, 201]:
            try:
                return r.json()
            except:
                return r.content # for LogicalMetadata API which does not use standard JSON
        else:
            return r.content

Let's create our first AlationInstance object:

In [0]:
def log_me(text):
  print(text)

alation = AlationInstance('http://18.218.6.215',
                         'matthias.funke@alation.com',
                         'm9kBYH;i7cQ;C')

Logging in to http://18.218.6.215/login/

In [0]:
alation.generic_api_get('/api/table/18461/')['title']

'A funny aubergine'

In [0]:
fields = alation.generic_api_get('/api/field/object/table/18461/')['all_fields']
pp.pprint(fields)

{   '10298': {   'allow_multiple': False,
                 'allowed_otypes': None,
                 'backref_name': '',
                 'backref_tooltip_text': '',
                 'field_id': 10298,
                 'is_builtin': False,
                 'is_editable': True,
                 'name': '(01NT)Data Object',
                 'name_plural': '(01NT)Data Object',
                 'name_singular': '(01NT)Data Object',
                 'options': [   {   'article_id': None,
                                    'title': 'Routing',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Semi-Finished Good',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Finished Good SKU',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Trading Goods',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Spare Parts',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Leaf materials',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Raw Materials',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Green Leaf materials',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Non-Valuated Materials',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Operating Supply',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Maintenance Plans - Multiple '
                                             'Counter',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Equipment',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Maintenance Plans - Single Cycle',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Functional Location',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Maintenance Plans - Strategy',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Production Supply Area',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Control Cycle Records',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Non-stock Materials other',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Non-stock Materials',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Substance Specification',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Recipe',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'PM Work Center',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Work Center',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Production Version',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Bill of Materials - Maintenance '
                                             '(Material)',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Bill of Materials - Maintenance '
                                             '(Equipment)',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Bill of Material - Production',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Batch Master',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Maintenance Assembly',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Logistics Packaging Material',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Task List',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Manufacturer Part Number',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Planning Items',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Reporting Only Materials',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Cluster Group',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Stock Balances LT01',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Purchasing Information Record',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Characteristics',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Measurement Points',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Source List',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Stock Balances IM',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Storage Bin',
                                    'tooltip_text': None},
                                {   'article_id': None,
                                    'title': 'Maintenance Strategy',
                                    'tooltip_text': None}],
                 'tooltip_text': '',
                 'type': 'PICKER',
                 'url': '/api/field/object/table/18461/10298/',
                 'value': 'Routing'},
    '10542': {   'allow_multiple': True,
                 'allowed_otypes': [   'data',
                                       'schema',
                                       'table',
                                       'attribute',
                                       'user',
                                       'article',
                                       'groupprofile'],
                 'backref_name': 'Universal',
                 'backref_tooltip_text': '',
                 'field_id': 10542,
                 'is_builtin': False,
                 'is_editable': True,
                 'name': 'Universal',
                 'name_plural': 'Universal',
                 'name_singular': 'Universal',
                 'options': None,
                 'tooltip_text': '',
                 'type': 'OBJECT_SET',
                 'url': '/api/field/object/table/18461/10542/',
                 'value': [   {   'deleted': False,
                                  'id': 11081,
                                  'name': None,
                                  'otype': 'article',
                                  'otype_display_name': 'Article',
                                  'snippet': None,
                                  'title': 'Query Index Test',
                                  'url': '/article/11081/query-index-test'}]},
    '10555': {   'allow_multiple': True,
                 'allowed_otypes': ['user', 'groupprofile'],
                 'backref_name': 'backref',
                 'backref_tooltip_text': None,
                 'field_id': 10555,
                 'is_builtin': False,
                 'is_editable': True,
                 'name': 'Owning Teams',
                 'name_plural': 'Owning Teams',
                 'name_singular': 'Owning Team',
                 'options': None,
                 'tooltip_text': None,
                 'type': 'OBJECT_SET',
                 'url': '/api/field/object/table/18461/10555/',
                 'value': []},
    '3': {   'allow_multiple': False,
             'allowed_otypes': None,
             'backref_name': None,
             'backref_tooltip_text': None,
             'field_id': 3,
             'is_builtin': True,
             'is_editable': True,
             'name': 'Title',
             'name_plural': '',
             'name_singular': 'Title',
             'options': None,
             'tooltip_text': None,
             'type': 'TEXT',
             'url': '/api/field/object/table/18461/3/',
             'value': ''},
    '4': {   'allow_multiple': False,
             'allowed_otypes': None,
             'backref_name': None,
             'backref_tooltip_text': None,
             'field_id': 4,
             'is_builtin': True,
             'is_editable': True,
             'name': 'Description',
             'name_plural': '',
             'name_singular': 'Description',
             'options': None,
             'tooltip_text': None,
             'type': 'RICH_TEXT',
             'url': '/api/field/object/table/18461/4/',
             'value': ''},
    '8': {   'allow_multiple': True,
             'allowed_otypes': ['user', 'groupprofile'],
             'backref_name': 'Steward',
             'backref_tooltip_text': None,
             'field_id': 8,
             'is_builtin': True,
             'is_editable': True,
             'name': 'Stewards',
             'name_plural': 'Stewards',
             'name_singular': 'Steward',
             'options': None,
             'tooltip_text': None,
             'type': 'OBJECT_SET',
             'url': '/api/field/object/table/18461/8/',
             'value': [   {   'deleted': False,
                              'id': 1,
                              'name': 'Server Admins',
                              'otype': 'groupprofile',
                              'otype_display_name': 'Group Profile',
                              'snippet': None,
                              'title': '',
                              'url': '/group/1/'}]}}

In [0]:
df = pd.DataFrame.from_dict(fields, orient='index')
df.loc[df.field_id>4,['name', 'value', 'type']]

                    name  ...        type
8               Stewards  ...  OBJECT_SET
10542          Universal  ...  OBJECT_SET
10298  (01NT)Data Object  ...      PICKER
10555       Owning Teams  ...  OBJECT_SET

[4 rows x 3 columns]

In [0]:
otype='table'
field_name='steward'
fields_json = f'{{"{field_name}":[]}}'
tables = alation.generic_api_get(f'/api/v1/bulk_metadata/data_dictionary/{otype}?custom_fields={fields_json}',
                          official=True)
tables = tables.decode().split('\n')[0:-1] # last element is empty, remove it
tables_pd = pd.DataFrame([json.loads(t) for t in tables])
if 'key' in tables_pd.columns:
    tables_pd.index = tables_pd.key
    del tables_pd['key']
else:
    print(f"Empty dataframe for {field_name}")

**Queries** in Alation are documents of SQL text. They can have multiple SQL statements, and their content is editable by their creator. They are associated with a single data source on creation and cannot be moved to a different data source.

**Queries** can be in draft state (unsaved), saved, or published. If a **query** is published it is also saved.

When a **query** is executed, each statement (CREATE, UPDATE, INSERT, SELECT, etc) is executed in turn by the database, and Alation stores metadata in an **execution event**. If the statement returns a **result**, Alation caches up to 16MB of that result on the server (unless the user is running an export, in which case only a 1000 row result preview is cached). These cached results (sometimes whole, sometimes partial) are available via API or in the Alation catalog until they expire. The expiration period is configurable on your server, but defaults to 1 week. Small **results** (by default less than 1MB) are stored indefinitely, with no expiration date.

In addition to an **execution event**, there is also a **session** and a **batch** associated with the execution of a query. If a query contains multiple **statements**, then multiple **events** -- one event per query statement -- would be created and would belong to a single **execution batch**. Each execution of a query in Compose will create a new batch; a single **session** could have many such batches. In the case of scheduled queries, a new session is created for each run and each such session will have only a single batch; each scheduled query is run via a designated Celery task.

# Summary



---
term |Â dependency |Â description
---- |Â ---------- |Â -----------
Query |Â N/A |Â a tab in compose, one more statements
Statement |Â ^Query |Â separated by ";"
Session |Â N/A |Â a period of time
(Execution) Batch |Â ^Session |Â Click on "run"
(Execution) Event |Â ^Batch |Â One per statement
(Execution) Result |Â ^Event |Â The results of one statement

In [0]:
my_query = dict(
    datasource_id=42,
    content="select count(*) from banana;",
    saved=True#,
    #author=dict(id=9, email='matthias+2@alation.com', username='matthias+2@alation.com')
)
q = alation.generic_api_post('/integration/v1/query/', body=my_query, official=True)
pp.pprint(q)

{   'autosave_content': 'select count(*) from banana;',
    'catalog_url': '/query/96/',
    'compose_url': '/compose/query/96/',
    'content': 'select count(*) from banana;',
    'datasource': {   'id': 42,
                      'title': 'Fennel',
                      'uri': 'postgresql://fennel2.cluster-cingqyuv6npc.us-east-2.rds.amazonaws.com:5433/fennel',
                      'url': '/data/42/'},
    'datasource_id': 42,
    'description': '',
    'has_unsaved_changes': False,
    'id': 96,
    'published': False,
    'saved': True,
    'schedules': [],
    'title': '',
    'ts_last_saved': '2020-04-21T09:23:05.149175-07:00',
    'url': '/integration/v1/query/96/'}

The previous query, alas, has no title and no description. At least is has a number.

Since there is no official API to execute the query, we will schedule a different [query](http://18.218.6.215/compose/query/85/) to run automatically and see what we get.

In [0]:
q = alation.generic_api_get('/integration/v1/query/85/', official=True)
pp.pprint(q)

{   'autosave_content': 'select schema_name, table_name, attribute_name, '
                        'count(1) as freq\n'
                        'from public.zucchini\n'
                        'group by 1, 2, 3\n'
                        'order by 4 DESC\n'
                        'limit 1000;\n'
                        '\n'
                        'select now();\n'
                        '\n'
                        'select ${my_date | type:date} as '
                        'what_the_user_selected;',
    'catalog_url': '/query/85/',
    'compose_url': '/compose/query/85/',
    'content': 'select schema_name, table_name, attribute_name, count(1) as '
               'freq\n'
               'from public.zucchini\n'
               'group by 1, 2, 3\n'
               'order by 4 DESC\n'
               'limit 1000;\n'
               '\n'
               'select now();\n'
               '\n'
               'select ${my_date | type:date} as what_the_user_selected;',
    'datasource': {   'id': 42,
                      'title': 'Fennel',
                      'uri': 'postgresql://fennel2.cluster-cingqyuv6npc.us-east-2.rds.amazonaws.com:5433/fennel',
                      'url': '/data/42/'},
    'datasource_id': 42,
    'description': '<p>i have decided to publish this to enlighten the '
                   'world</p>\n',
    'has_unsaved_changes': False,
    'id': 85,
    'published': True,
    'saved': True,
    'schedules': [   {   'celery_queue': 'run_scheduling',
                         'celery_task_name': 'rosemeta.tasks.query_scheduling.run_query_1',
                         'cron_expression': '25 * * * *',
                         'db_connection': {   'ts_last_used': '2020-04-21T09:07:58.880027-07:00',
                                              'ts_modified': '2020-04-19T04:35:10.519541-07:00',
                                              'uri': 'postgresql://fennel2.cluster-cingqyuv6npc.us-east-2.rds.amazonaws.com:5433/fennel',
                                              'username': 'matthias.funke'},
                         'enabled': True,
                         'latest_session': {   'batch_ids': [252],
                                               'client_session_id': '2020-04-21T09:25:00.214028#5425b450',
                                               'id': 113,
                                               'query_id': 85,
                                               'sandbox_id': 'schedule-1',
                                               'ts_start': '2020-04-21T09:25:00.216779-07:00'},
                         'overdue': False,
                         'ts_last_attempt': '2020-04-21T09:25:00.026832-07:00',
                         'ts_next_run': '2020-04-21T17:25:00Z',
                         'user': {   'is_active': True,
                                     'username': 'matthias+1@alation.com'}}],
    'title': 'base fennel query',
    'ts_last_saved': '2020-04-21T08:20:54.513621-07:00',
    'url': '/integration/v1/query/85/'}

This output gives us interesting details about the automatically executed results. Perhaps we can use any?

In [0]:
params=dict(query_id=q['id'])
exec_session = alation.generic_api_get('/integration/v1/query/execution_session/', params=params, official=True)
pp.pprint(exec_session)

[   {   'batch_ids': [195, 196, 199, 203, 204, 205, 206],
        'client_session_id': '2020-04-19T11:35:08.036Z#15d15b7373134',
        'id': 80,
        'is_scheduled': False,
        'query_id': 85,
        'sandbox_id': 'compose-85',
        'ts_start': '2020-04-19T04:36:14.269717-07:00'},
    {   'batch_ids': [200, 201],
        'client_session_id': '2020-04-19T05:20:00.261962#218a53c4',
        'id': 83,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-19T05:20:00.264583-07:00'},
    {   'batch_ids': [202, 207],
        'client_session_id': '2020-04-19T05:41:00.208143#936dda61',
        'id': 84,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-19T05:41:00.211132-07:00'},
    {   'batch_ids': [208],
        'client_session_id': '2020-04-19T06:04:00.233709#80b85921',
        'id': 85,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-19T06:04:00.236137-07:00'},
    {   'batch_ids': [209],
        'client_session_id': '2020-04-19T06:07:00.187095#763b7c83',
        'id': 86,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-19T06:07:00.189539-07:00'},
    {   'batch_ids': [214],
        'client_session_id': '2020-04-19T13:40:22.817Z#a6b8c82492533',
        'id': 90,
        'is_scheduled': False,
        'query_id': 85,
        'sandbox_id': 'query-form-85',
        'ts_start': '2020-04-19T06:40:24.552349-07:00'},
    {   'batch_ids': [215],
        'client_session_id': '2020-04-19T07:07:00.186185#5e7d616a',
        'id': 91,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-19T07:07:00.188776-07:00'},
    {   'batch_ids': [226],
        'client_session_id': '2020-04-19T08:07:00.197407#be370a4c',
        'id': 93,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-19T08:07:00.200072-07:00'},
    {   'batch_ids': [227],
        'client_session_id': '2020-04-19T09:07:00.414836#a727650b',
        'id': 94,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-19T09:07:00.419327-07:00'},
    {   'batch_ids': [229],
        'client_session_id': '2020-04-19T10:07:00.181247#a63ac4bd',
        'id': 96,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-19T10:07:00.183669-07:00'},
    {   'batch_ids': [230],
        'client_session_id': '2020-04-19T11:07:00.204948#ec41ae85',
        'id': 97,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-19T11:07:00.207418-07:00'},
    {   'batch_ids': [231],
        'client_session_id': '2020-04-21T02:00:20.907590#601c1783',
        'id': 98,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-21T02:00:20.912920-07:00'},
    {   'batch_ids': [232],
        'client_session_id': '2020-04-21T02:07:00.247713#097f5682',
        'id': 99,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-21T02:07:00.250547-07:00'},
    {   'batch_ids': [233],
        'client_session_id': '2020-04-21T03:07:00.192510#50f85a2e',
        'id': 100,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-21T03:07:00.194995-07:00'},
    {   'batch_ids': [234],
        'client_session_id': '2020-04-21T04:07:00.217786#d309f674',
        'id': 101,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-21T04:07:00.220249-07:00'},
    {   'batch_ids': [235],
        'client_session_id': '2020-04-21T05:07:00.187552#121879ac',
        'id': 102,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-21T05:07:00.189727-07:00'},
    {   'batch_ids': [236],
        'client_session_id': '2020-04-21T06:07:00.402103#3a1aacd0',
        'id': 103,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-21T06:07:00.404752-07:00'},
    {   'batch_ids': [237],
        'client_session_id': '2020-04-21T07:07:00.202590#acdad7e6',
        'id': 104,
        'is_scheduled': True,
        'query_id': 85,
        'sandbox_id': 'schedule-1',
        'ts_start': '2020-04-21T07:07:00.205050-07:00'}]

The result shows a small bug in the Alation code: for a scheduled execution run, the timestamp does not show the UTC time.

Let's get the batch details by using the execution batch API

In [0]:
batch_id = exec_session[-1]['batch_ids'][0]
batch = alation.generic_api_get(f'/integration/v1/query/execution_batch/{batch_id}/', official=True)
pp.pprint(batch)

{   'events': [   {'id': 431, 'index_in_batch': 1},
                  {'id': 430, 'index_in_batch': 0}],
    'id': 237,
    'query_id': 85,
    'session_id': 104}

Let's get the execution event details.

In [0]:
base_url = "http://18.218.6.215"

for event in batch['events']:
  event_id = event['id']
  exec_event = alation.generic_api_get(f"/integration/v1/query/execution_event/{event_id}/", official=True)
  print('-----------------------------')
  pp.pprint(exec_event)
  print('-----------------------------')
  print(f"{base_url}{exec_event['result']['url']} ({exec_event['result']['title']})")

-----------------------------
{   'batch_id': 237,
    'canceled': False,
    'datasource': {'id': 42, 'title': 'Fennel', 'url': '/data/42/'},
    'db_username': None,
    'elapsed_seconds': 0.041014,
    'execution_error': None,
    'id': 431,
    'index_in_batch': 1,
    'num_result_rows': 1,
    'query_id': 85,
    'result': {   'byte_count': 35,
                  'data_schema': [   {   'name': 'now',
                                         'norm_type': 'TIMESTAMP',
                                         'original_name': 'now',
                                         'type': 'timestamptz'}],
                  'deleted': False,
                  'expired': False,
                  'id': 146,
                  'query': {   'description': '<p>i have decided to publish '
                                              'this to enlighten the '
                                              'world</p>\n',
                               'id': 85,
                               'title': 'base fennel query'},
                  'row_count': 1,
                  'storage_status': 'STORED_ALL',
                  'title': 'Scheduled result on base fennel query 2020-04-21',
                  'truncated': False,
                  'ts_created': '2020-04-21T07:07:00.492731-07:00',
                  'ts_expiration': None,
                  'url': '/execution_result/146/'},
    'session_id': 104,
    'statement_content': 'select now();',
    'ts_executed': '2020-04-21T07:07:00.430057-07:00',
    'url': '/compose_execution_session/104/?from_event=431'}
-----------------------------
http://18.218.6.215/execution_result/146/ (Scheduled result on base fennel query 2020-04-21)
-----------------------------
{   'batch_id': 237,
    'canceled': False,
    'datasource': {'id': 42, 'title': 'Fennel', 'url': '/data/42/'},
    'db_username': 'matthias.funke',
    'elapsed_seconds': 0.175182,
    'execution_error': None,
    'id': 430,
    'index_in_batch': 0,
    'num_result_rows': 1000,
    'query_id': 85,
    'result': {   'byte_count': 52953,
                  'data_schema': [   {   'name': 'schema_name',
                                         'norm_type': 'STRING',
                                         'original_name': 'schema_name',
                                         'type': 'text'},
                                     {   'name': 'table_name',
                                         'norm_type': 'STRING',
                                         'original_name': 'table_name',
                                         'type': 'text'},
                                     {   'name': 'attribute_name',
                                         'norm_type': 'STRING',
                                         'original_name': 'attribute_name',
                                         'type': 'text'},
                                     {   'name': 'freq',
                                         'norm_type': 'INT',
                                         'original_name': 'freq',
                                         'type': 'int8'}],
                  'deleted': False,
                  'expired': False,
                  'id': 145,
                  'query': {   'description': '<p>i have decided to publish '
                                              'this to enlighten the '
                                              'world</p>\n',
                               'id': 85,
                               'title': 'base fennel query'},
                  'row_count': 1000,
                  'storage_status': 'STORED_ALL',
                  'title': 'Scheduled result on base fennel query 2020-04-21',
                  'truncated': False,
                  'ts_created': '2020-04-21T07:07:00.406115-07:00',
                  'ts_expiration': None,
                  'url': '/execution_result/145/'},
    'session_id': 104,
    'statement_content': 'select schema_name, table_name, attribute_name, '
                         'count(1) as freq\n'
                         'from public.zucchini\n'
                         'group by 1, 2, 3\n'
                         'order by 4 DESC\n'
                         'limit 1000;',
    'ts_executed': '2020-04-21T07:07:00.205050-07:00',
    'url': '/compose_execution_session/104/?from_event=430'}
-----------------------------
http://18.218.6.215/execution_result/145/ (Scheduled result on base fennel query 2020-04-21)

Now let's use an unoffical API to get hold of the actual result.

In [0]:
result_id = 148#exec_event['result']['id'] #148
data_schema = exec_event['result']['data_schema']
cols = [schema['name'] for schema in data_schema]
res = alation.generic_api_get(f'/ajax/execution_result_data/{result_id}/')
pd.DataFrame(res, columns=cols)

    schema_name              table_name   attribute_name freq
0        public               inventory            store   18
1        public               employees          emp_yrs   18
2        public               inventory      store_state   18
3        public                   parts              cat   18
4        public               employees         emp_name   18
..          ...                     ...              ...  ...
995   loan_data  full_loan_details_full  settlement_term    5
996   loan_data  full_loan_details_full     num_tl_30dpd    5
997        bank       uic_credit_data_2        bill_amt4    5
998        bank       uic_credit_data_2        education    5
999        bank       uic_credit_data_2        bill_amt2    5

[1000 rows x 4 columns]

The email which we normally get contains a link to download the file. It is created like this...

In [0]:
print(f'{base_url}/ajax/get_result_table_data/{result_id}/?csv=1')

http://18.218.6.215/ajax/get_result_table_data/148/?csv=1

# More fun with the unofficial API

Let's see what the unofficial API reveals about our Query...

In [0]:
#otype='query'
#id=93
t = alation.generic_api_get('/api/query/')

#pp.pprint(t)
pd.DataFrame(t)

     id  ...                                               lock
0    41  ...  {'query_id': 41, 'holder': {'id': 1, 'url': '/...
1    46  ...  {'query_id': 46, 'holder': {'id': 1, 'url': '/...
2    70  ...  {'query_id': 70, 'holder': {'id': 1, 'url': '/...
3    78  ...  {'query_id': 78, 'holder': {'id': 1, 'url': '/...
4    68  ...  {'query_id': 68, 'holder': {'id': 1, 'url': '/...
5    42  ...  {'query_id': 42, 'holder': {'id': 1, 'url': '/...
6    51  ...  {'query_id': 51, 'holder': {'id': 1, 'url': '/...
7    60  ...  {'query_id': 60, 'holder': {'id': 1, 'url': '/...
8    92  ...  {'query_id': 92, 'holder': {'id': 1, 'url': '/...
9    85  ...  {'query_id': 85, 'holder': {'id': 8, 'url': '/...
10   43  ...  {'query_id': 43, 'holder': {'id': 1, 'url': '/...
11   48  ...  {'query_id': 48, 'holder': {'id': 1, 'url': '/...
12   61  ...  {'query_id': 61, 'holder': {'id': 1, 'url': '/...
13   86  ...  {'query_id': 86, 'holder': {'id': 1, 'url': '/...
14   96  ...  {'query_id': 96, 'holder': {'id': 9, 'url': '/...
15   44  ...  {'query_id': 44, 'holder': {'id': 1, 'url': '/...
16   49  ...  {'query_id': 49, 'holder': {'id': 1, 'url': '/...
17   52  ...  {'query_id': 52, 'holder': {'id': 1, 'url': '/...
18   62  ...  {'query_id': 62, 'holder': {'id': 1, 'url': '/...
19   87  ...  {'query_id': 87, 'holder': {'id': 1, 'url': '/...
20   94  ...  {'query_id': 94, 'holder': {'id': 9, 'url': '/...
21   97  ...  {'query_id': 97, 'holder': {'id': 10, 'url': '...
22   53  ...  {'query_id': 53, 'holder': {'id': 1, 'url': '/...
23   88  ...  {'query_id': 88, 'holder': {'id': 1, 'url': '/...
24   95  ...  {'query_id': 95, 'holder': {'id': 9, 'url': '/...
25   98  ...  {'query_id': 98, 'holder': {'id': 13, 'url': '...
26   45  ...  {'query_id': 45, 'holder': {'id': 1, 'url': '/...
27   63  ...  {'query_id': 63, 'holder': {'id': 1, 'url': '/...
28   89  ...  {'query_id': 89, 'holder': {'id': 1, 'url': '/...
29   99  ...  {'query_id': 99, 'holder': {'id': 9, 'url': '/...
30   71  ...  {'query_id': 71, 'holder': {'id': 1, 'url': '/...
31   59  ...  {'query_id': 59, 'holder': {'id': 1, 'url': '/...
32   64  ...  {'query_id': 64, 'holder': {'id': 1, 'url': '/...
33  100  ...  {'query_id': 100, 'holder': {'id': 10, 'url': ...
34   90  ...  {'query_id': 90, 'holder': {'id': 8, 'url': '/...
35   65  ...  {'query_id': 65, 'holder': {'id': 1, 'url': '/...
36  101  ...  {'query_id': 101, 'holder': None, 'ts_granted'...
37   91  ...  {'query_id': 91, 'holder': {'id': 1, 'url': '/...
38  102  ...  {'query_id': 102, 'holder': None, 'ts_granted'...
39   55  ...  {'query_id': 55, 'holder': {'id': 1, 'url': '/...
40  103  ...  {'query_id': 103, 'holder': {'id': 10, 'url': ...
41   72  ...  {'query_id': 72, 'holder': {'id': 1, 'url': '/...
42  104  ...  {'query_id': 104, 'holder': {'id': 10, 'url': ...
43   73  ...  {'query_id': 73, 'holder': {'id': 1, 'url': '/...
44   74  ...  {'query_id': 74, 'holder': {'id': 1, 'url': '/...
45   56  ...  {'query_id': 56, 'holder': {'id': 1, 'url': '/...
46   69  ...  {'query_id': 69, 'holder': None, 'ts_granted':...
47   57  ...  {'query_id': 57, 'holder': {'id': 1, 'url': '/...
48   50  ...  {'query_id': 50, 'holder': {'id': 1, 'url': '/...
49   58  ...  {'query_id': 58, 'holder': {'id': 1, 'url': '/...
50   75  ...  {'query_id': 75, 'holder': {'id': 1, 'url': '/...
51   77  ...  {'query_id': 77, 'holder': {'id': 1, 'url': '/...
52   76  ...  {'query_id': 76, 'holder': {'id': 1, 'url': '/...
53   47  ...  {'query_id': 47, 'holder': {'id': 1, 'url': '/...
54   54  ...  {'query_id': 54, 'holder': {'id': 1, 'url': '/...

[55 rows x 46 columns]

In [0]:
p = alation.generic_api_patch(f'/api/{otype}/{id}/', body=dict(discarded=True))
p_parsed = json.loads(p)
p_parsed['discarded']

True

## Get a file handle to this Notebook

This code won't work for you unless you have access to the file.

In [0]:
from google.colab import auth
auth.authenticate_user()
from googleapiclient.discovery import build
drive_service = build('drive', 'v3')

response = drive_service.files().list(q="name='Alation API Training Spring 2020.ipynb'",
                                      spaces='drive',
                                      fields='nextPageToken, files(id, name)').execute()
file = response.get('files', [])[0]
print ('Found file: {} {}' .format (file.get('name'), file.get('id')))
alation_notebook = file.get('id')
file

Found file: Alation API Training Spring 2020.ipynb 16BiqA8Oy53iwQumPhIOOI3hfh-GFjntd

{'id': '16BiqA8Oy53iwQumPhIOOI3hfh-GFjntd',
 'name': 'Alation API Training Spring 2020.ipynb'}

Copy the notebook (running this cell only defines the method)

In [0]:
def copy_notebook(name):
  body = dict(name=name)
  response = drive_service.files().copy(fileId=alation_notebook, body=body).execute()
  return '<p><a href="https://colab.research.google.com/drive/{0}" rel="noopener noreferrer" target="_blank">https://colab.research.google.com/drive/{0}</a></p>'.format(response['id'])

In [0]:
copy_notebook("My friend.ipynb")

'<p><a href="https://colab.research.google.com/drive/1EhpkAbCK10rYaVBIXi39B7uKVgRODtIG" rel="noopener noreferrer" target="_blank">https://colab.research.google.com/drive/1EhpkAbCK10rYaVBIXi39B7uKVgRODtIG</a></p>'